@media (max-width: 860px) {

    #header, .coin-container {
        width: 100%;
    }

    #top-stars {
        width: 100%;
        margin-left: -52%;
    }

    #header .title {
        padding-left: 0px;
        text-align: center;
        font-size: 5vw;
    }

    #header .title, #header .currency-select {
        float: none;
    }

    #header .currency-select {
        width: 320px;
        margin: 0px auto;
    }

    .coin-container {
        margin-top: 125px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}