$bgColor: #0f1e27;
$opacityBorderColor: #2b3b45;
$borderColor: #92e8fe;

$headerW: 983px;


* {
    margin: 0px;
    padding: 0px;
}

body {
    background: $bgColor;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#top-stars {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 50%;
    width: 679px;
    height: 220px;
    background: url('../img/topStars.png');
    margin-left: -461px;
}

#header {
    position: relative;
    top: 70px;
    z-index: 2;
    width: $headerW;
    height: 96px;
    margin: 0px auto;
    border: 1px solid $opacityBorderColor;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.03);
    background: rgba(255,255,255,.03);

    .title {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 98px;
        padding-left: 132px;
        float: left;
    }

    .currency-select {
        width: 297px;
        height: 55px;
        border: 1px solid $opacityBorderColor;
        border: 1px solid $borderColor;
        border-radius: 5px;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        background: #1f272f;

        &:hover {
            cursor: pointer;
            border: 1px solid $borderColor;
        }

        .select-title {
            font-size: 16px;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            color: #fff;
            line-height: 55px;
            padding-left: 12px;
        }

        .arrow-down-icon {
            position: absolute;
            right: 12px;
            background: url('../img/arrow-down.png');
            width: 9px;
            height: 5px;
            top: 50%;
            margin-top: -2.5px;
        }

        .currency-list {
            display: none;
            position: absolute;
            top: 65px;
            list-style-type: none;
            border: 1px solid $borderColor;
            width: 100%;
            border-radius: 5px;
            padding: 0px 0px 10px 0px;
            font-weight: 300;
            background: #1e252b;
            z-index: 3;

            li {
                color: #fff;
                padding-left: 12px;
                padding-top: 12px;

                &:hover {
                    color: $borderColor;
                }
            }
        }


    }
}

.coin-container {
    position: relative;
    z-index: 1;
    width: $headerW;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 112px;


    .coin-item {
        width: 308px;
        height: 354px;
        margin-top: 10px;
    }
    
    .ethereum {
        background: url('../img/ethereum.png');
        background-repeat: no-repeat;
    }
    
    .litecoin {
        background: url('../img/litecoin.png');
        background-repeat: no-repeat;
    }
    
    .bitcoin {
        background: url('../img/bitcoin.png');
        background-repeat: no-repeat;
    }

    .coin-title {
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        margin-top: 19px;
        height: 27px; // for fix different font size chrome firefox
    }

    .coin-desc {
        margin-top: 144px;
        padding: 0px 30px;
    }

    .coin-price {
        height: 25px; // for fix different font size chrome firefox
        color: #fff;

        .label {
            font-size: 20px;
            font-weight: 700;
            float: left;
        }
        .value {
            float: right;
            font-size: 21.31px;
            font-weight: 700;
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .coin-switch-percent {
        margin-top: 10px;
        position: relative;
        margin-bottom: 10px;
        height: 17px; // for fix different font size chrome firefox

        .label {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }

        .switcher {
            position: absolute;
            background: url('../img/switcher-bg.png');
            width: 41px;
            height: 15px;
            right: 0;
            top: 1px;
            cursor: pointer;

            .btn {
                position: absolute;
                top: -4px;
                left: 20px;
                width: 24px;
                height: 24px;
                background: url('../img/switcher-btn.png');
                &.active {
                    left: -2px;
                }
                transition: 0.5s;
            }

            &.active {
                background: url('../img/switcher-bg-active.png');
            }

            

        }
    }

    .coin-date-changes {
        margin-top: 3px;
        height: 19px;

        .label {
            color: #fff;
            font-size: 14px;
            float: left;
            font-weight: 700;
            opacity: 0.2;
        }
        .value {
            float: right;
            font-size: 16px;
            font-weight: 700;
            color: #70c446;
            &.red {
                color:#c80e24;
            }
        }

        .price {
            display: none;
        }


        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

   
    
}

